<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Project Manager Beta</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>Spandan's Project Manager</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="Project_Name">Add Project:</label>
      <input type="text" class="form-control" id="Project_Name" name="Project_Name" placeholder="What's your name?">
    </div>
    <br>
    <div class="form-group">
      <label for="Task_Name">Add Task:</label>
      <input type="text" class="form-control" id="Task_Name" name="Task_Name" placeholder="What's your name?">
    </div>
    <br>
    <div class="form-group">
      <label for="Delete_Task">Delete Task:</label>
      <input type="text" class="form-control" id="Delete_Task" name="Delete_Task" placeholder="What's your name?">
    </div>
    <br>
    <div class="form-group">
      <label for="Password">Password:</label>
      <input type="text" class="form-control" id="Password" name="Password" placeholder="What's your name?">
    </div>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="reset" class="btn btn-info">Reset</button>
    <a href="/reset">reset todo</a>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>      
</div>
</div>
</body>
</html>